:root {
    --bkg: #FAFAFA;
    --font: #808080;
    --red: #E30613;
    --yellow: #FECD00;
    --black: #2F2F2F;
    --white: #FBFCFC;
    --green: #42CFA5;
    --blue: #2A5CDC;
    --google: #E02D37;
    --facebook: #2A5CDC;
    --l-gray: rgba(250, 250, 250, 0.46);
    --m-gray: #CBCBCB;
    --f-gray: #F1F1F1;
    --gray: #C0C0C0;
    --whiter: #F8F8F8;
    --btn-shadow: 0px 8px 29px rgba(227, 6, 19, 0.39);
    --btn-background: #C4C4C4;
    --padding: 30px 100px;
}

@font-face {
    font-family: 'MullerBlack';
    src: URL('/font/MullerBlack.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerHairlineItalic';
    src: URL('/font/MullerHairlineItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerRegular';
    src: URL('/font/MullerRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerBlackItalic';
    src: URL('/font/MullerBlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerHeavy';
    src: URL('/font/MullerHeavy.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerRegularItalic';
    src: URL('/font/MullerRegularItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerBold';
    src: URL('/font/MullerBold.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerHeavyItalic';
    src: URL('/font/MullerHeavyItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerThin';
    src: URL('/font/MullerThin.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerBoldItalic';
    src: URL('/font/MullerBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerBoldItalic';
    src: URL('/font/MullerLight.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerThinItalic';
    src: URL('/font/MullerThinItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerExtraBold';
    src: URL('/font/MullerExtraBold.ttf') format('truetype');
}  
@font-face {
    font-family: 'MullerLightItalic';
    src: URL('/font/MullerLightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerLightItalic';
    src: URL('/font/MullerUltraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerExtraBoldItalic';
    src: URL('/font/MullerExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerMedium';
    src: URL('/font/MullerMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerUltraLightItalic';
    src: URL('/font/MullerUltraLightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerHairline';
    src: URL('/font/MullerHairline.ttf') format('truetype');
}
@font-face {
    font-family: 'MullerMediumItalic';
    src: URL('/font/MullerMediumItalic.ttf') format('truetype');
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    .main-container {
        padding: 0;
    }
}